.tags-container{
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 15px;
    margin-left: -1px;
    color: #fff;

    .tag{
        border-radius: 5px;
        padding: 4px 0px;
        margin-right: 5px;
    }
}